# Data Bootcamp: Code Practice 1

## 1) Describe and explain what each of these expressions produces in basic Python:

In [11]:
2+5

7

addition

In [2]:
2 + 5

7

spaces are insignificant here

In [3]:
2*5

10

multiplication

In [4]:
2/5

0.4

division

In [5]:
2**5

32

exponent

## 2) What is the value of x after running these statements in order? Why?

In [10]:
x = 7 
x = x + 3
print("The value of x is " + str(x))

The value of x is 10

In line 1, x is assigned the integer value 7. In line 2, it is reassigned integer value (7 + 3 = 10)

## 3) What is the value of y after running these statements in order? Of x? Why?

In [14]:
x = 3
y = x
x = 10
print("The value of x is " + str(x))

The value of x is 10

In line 1, x is assigned the integer value 3.
In line 2, y is assigned the integer value 3.
In line 3, x is reassigned to the ineger value 10 (y remains assigned to 3)

## 4) Does this code run without error? If so, what does it produce? If not, explain why.

In [15]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

It runs without error and produces the output above.

## 5) Does this code run without error? If so, what does it produce? If not, explain why.

In [16]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In line 4, the code is attempting to use the operator "+" on different data types (float and string). This causes an error.

## 6) Does this code run without error? If so, what does it produce? If not, explain why.

In [17]:
x = 3
y = 24
z = y / x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

The code runs without error and produces the output above.

## 7) Does this code run without error? If so, what does it produce? If not, explain why.

In [18]:
x = 3
y = '24'
z = y / x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

No for the same reason as in question 5 - line 3 attempts to use the "/" operator on two different data types (string and integer).

## 8) Does this code run without error? If so, what does it produce? If not, explain why.

In [20]:
x = "I am a #string" # Whoa, a string!
print(x)

I am a #string

The code given assigns x to the string but does not produce anything. With the print statement the output is the string.

## 9) Does this code run without error? If so, what does it produce? If not, explain why.

In [22]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

Yes. It produces the output above.

## 10) Does this code run without error? If so, what does it produce? If not, explain why.

In [24]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

No. For the same reason as in question 7 and 5. The operator "+" cannot be used on different data types.

## 11) What "types" are:

In [25]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']

In [26]:
whos

Variable   Type     Data/Info
-----------------------------
x          list     n=3
x1         int      12
x2         float    12.0
x3         str      12.0
x4         list     n=1
x5         list     n=3
y          int      42
z          list     n=5

x1 =        int      
x2 =        float   
x3 =        str      
x4 =        list     
x5 =        list

## 12) Explain the result of each line:

In [29]:
type(42)

int

In [32]:
type(42.0)

float

In [33]:
type('42.0')

str

In [34]:
type("42.0")

str

In [35]:
type("""42.0""")

str

In [36]:
type([1, 2])

list

In [37]:
type([1] + [2])

list

In [38]:
type(1 + 2)

int

In [39]:
type(print)

builtin_function_or_method

In [40]:
type(type)

type

Returns the type of the datafield or method in the brackets

## 13) Describe and explain the result of this statement:

In [41]:
type(float(str(int('1234'))))

float

Starting from the inner most brackets: the string '1234' is first converted to an integer (1234), then transformed back into a string and then to a float (1234.0). The type method prints the final datatype - float.

## 14) Describe and explain the result of this statement:

In [47]:
type(int(float('12.34')))

int

Returns the data type of the final version of the object. First, the string '12.34' is transformed into a float (12.34) and then into an integer (12).

## 15) Explain each line:

In [43]:
len([1234])

1

prints the number of items within the brackets (1 list)

In [44]:
len("1234")

4

prints the number of characters in the string

In [45]:
len(1234)

TypeError: object of type 'int' has no len()

Produces an error since integer objects do not have a len method defined

## 16) What is the type and length of x = [ ]?

In [57]:
x = []
y = type(x)
z = len(x)
print("X is a " + str(y) + " of length " + str(z))

X is a <class 'list'> of length 0

## 17) Convert the string x = 'abcde' to a list. What does it look like?

In [58]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

## 18) Consider the integer x = 1234.

In [60]:
x = 1234
float(x)

1234.0

In [61]:
str(x)

'1234'

In [63]:
list(str(x))

['1', '2', '3', '4']

x can only be converted to a list after transforming it to a string.

## 19) How would you convert x to "title case" (first letter of each word capitalized)?

In [67]:
x = "luke, i am your father"
str.title(x)

'Luke, I Am Your Father'

## 20) Consider the String

In [68]:
x = "How many characters and words are in this string?"

## a. How many words does x contain

In [69]:
len(x)

49

## b. Convert x to a list of individual characters.

In [70]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

## c. Convert x to a list of individual words

In [78]:
x = "How many characters and words are in this string?"
list(str.split(x))

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

## d. How many words does x contain?

In [80]:
len(list(str.split(x)))

9